{% extends 'base.html' %}
{% block content %}
{% if not display_page %}
  <h1>No statements available!</h1>
{% else %}
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
      {% for subfield in form.radio %}
        {{ subfield }}
        {{ subfield.label }}
      {% endfor %}
    </div>
    <div>
      {{ form.number_list.label()}} :
      {{form.number_list()}}
      {{ form.hash_list.label()}} :
      {{form.hash_list()}}
      {{ form.session_id.label()}} :
      {{form.session_id()}}
      {{ form.submit() }}
    </div>
  </form>
  <hr>
  {% if form2_status['show'] %}
    <form action="" method="post" novalidate>
      {{ form2.hidden_tag() }}
      {% if form2_status['prev_page'] %}
        {{form2.prev_page()}}
      {% endif %}
      {{form2.prev_number()}}
      {{form2_status['info']}} 
      {% if form2_status['is_histogram'] %}
      |||
        {{form2.histogram_interval.label()}}
        {{form2.histogram_interval()}}
      {% endif %}
      {{ form2.function_name()}}
      {{ form2.return_type()}}
      {% if form2_status['next_page'] %}
        {{ form2.next_page()}}
      {% endif %}
      {{form2.next_number()}}
    </form>
  {% endif %}

  {% if data %}
    {{data|safe}}
  {% endif %}

{% endif %}
{% endblock %}